<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <input #input type="text" placeholder="Owner" (input)="ownerSearch = $event.target.value">
        <input #input type="text" placeholder="Category" (input)="categorySearch = $event.target.value">
        <input #input type="text" placeholder="Body Text" (input)="bodySearch= $event.target.value">
        <!--<input #input type="number" placeholder="Limit" [(ngModel)]="limitNumber">-->
        <select (input)="statusFilter = $event.target.value">
            <option value = "" >Complete/Incomplete</option>
            <option value = "1">Complete</option>
            <option value = "0">Incomplete</option>
        </select>
    </li>
    <li class="list-group-item list-group-item-info">Todo List</li>
    <li *ngFor="let todo of todos | filterBy: {owner: ownerSearch} | filterBy: {category: categorySearch}
                            | filterBy: {body: bodySearch}
                            | filterBy: {status: statusFilter}" class="list-group-item" [ngStyle]="{'background-color': getColor(todo.category)}">
        {{"Status: [" + (todo.status?"Complete":"Incomplete") + "] " + "Owner Name: " + todo.owner + " Category: " + todo.category}}
        <br>
        <p>
            {{"Body: " + todo.body}}
        </p>
    </li>
</ul>